version: '3.8'

services:  
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  products-service:
    build:
      context: .
      dockerfile: ./apps/products-service/Dockerfile
    ports:
      - "3001:3000"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgresql://user:password@postgres:5432/mydb"
      NODE_ENV: "production"